ks-footer {
    display: block;

    background-color: var(--footer-color);
    color: var(--footer-text-color);
    font-size: 16px;
}

ks-footer .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding: 40px;
    margin: auto;
}

ks-footer .info {
    min-height: 100px;
}

ks-footer .contact {
    padding: 0 10px 20px 10px;
    
}

ks-footer .contact a {
    display: block;
    text-decoration: none !important;
    font-size: 18px;

    color: var(--footer-text-color);
    -webkit-transition: var(--transition-color);
    transition: var(--transition-color);
}

ks-footer .contact a:hover  { color: var(--footer-text-color-hover); }
ks-footer .contact a:active { color: var(--footer-text-color-active); }

ks-footer .logo {
    display: inline-block;
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
}

ks-footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    min-height: 100px;
}

ks-footer .reviews {
    text-align: center;
}


ks-footer .reviews p {
    margin: 0 0 5px 0;
}

ks-footer .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;

    padding: 30px;
}

ks-footer .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;

    padding: 30px;

    -webkit-transition: var(--transition-background-color);

    transition: var(--transition-background-color);
    background-color: var(--footer-button-color);
    color: var(--footer-heading-color);

    font-family: var(--font-emphasis);
    font-size: 18px;
    line-height: 18px;

    -webkit-user-select: none;

        -ms-user-select: none;

            user-select: none;
    cursor: pointer;
}

ks-footer .newsletter:hover {
    background-color: var(--footer-button-color-hover);
}
ks-footer .newsletter:active {
    background-color: var(--footer-button-color-active);
}

ks-footer .newsletter div:last-child {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 5px;
}

ks-footer .software {
    background-color: var(--footer-color-darker);
    color: var(--footer-text-color-darker);
    font-size: 13px;
    text-align: center;

    padding: 10px;
}

ks-footer .software > a {
    color: var(--footer-text-color-darker);
}

@media only screen and (max-width: 1060px) {
    ks-footer .about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 30px;
    }

    ks-footer .info {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    ks-footer .logo {
        margin-left: 10px;
    }

    ks-footer .reviews {
        margin: 20px 0 10px 0;
    }

    ks-footer .links {
        margin-top: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media only screen and (max-width: 640px) {
    ks-footer .about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 30px;
    }

    ks-footer .info {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    ks-footer .links {
        margin-top: 0px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    ks-footer .links > * {
        margin-top: 40px;
        padding: 0;
    }

    ks-footer .newsletter {
        font-size: 14px;
        line-height: 14px;
    }

    ks-footer .newsletter div:last-child {
        font-size: 30px;
        line-height: 30px;
    }
}