ks-footer-links {
    display: block;

    padding: 0 20px;
    margin: 0;
}

ks-footer-links h4 {
    color: var(--footer-heading-color);
    font-family: var(--font-emphasis);
    font-weight: 700;
    font-size: 18px;
}

ks-footer-links ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ks-footer-links ul a {
    color: var(--footer-text-color);
    text-decoration: none !important;

    -webkit-transition: var(--transition-color);

    transition: var(--transition-color);
}

ks-footer-links ul a:hover  { color: var(--footer-text-color-hover); }
ks-footer-links ul a:active { color: var(--footer-text-color-active); }

@media only screen and (max-width: 640px) {
    ks-footer-links h4 {
        font-size: 20px;
    }

    ks-footer-links ul li {
        margin-bottom: 5px;
    }
}