ks-footer-button {
    display: block;

    opacity: 1.0;
    transition: opacity 0.2s ease;

    margin: 0 3px;
}

ks-footer-button > a {
    display: block;
    max-width: 90px;
    max-height: 40px;

    height: 40px;
}

ks-footer-button:hover {
    opacity: 0.7;
}