ks-footer {
    display: block;

    background-color: var(--footer-color);
    color: var(--footer-text-color);
    font-size: 16px;
}

ks-footer .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding: 50px 70px 40px 70px;
    margin: auto;
}

ks-footer .contact span:first-of-type {
    display: block;
    color: var(--footer-heading-color);
    font-family: var(--font-emphasis);
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 15px 0;
}

ks-footer .contact a,
ks-footer .contact span {
    display: block;
    text-decoration: none !important;
    font-size: 16px;
    margin-bottom: 5px;

    color: var(--footer-text-color);
    -webkit-transition: var(--transition-color);
    transition: var(--transition-color);
}

ks-footer .contact a:hover  { color: var(--footer-text-color-hover); }
ks-footer .contact a:active { color: var(--footer-text-color-active); }

ks-footer .contact ks-icon {
    margin-right: 5px;
}

ks-footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 100px;
}

ks-footer .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;

    padding: 0 0 0 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

ks-footer .newsletter > div {
    font-family: var(--font-emphasis);
}

ks-footer .newsletter > div:last-of-type {
    font-size: 48px;
    line-height: 40px;
    font-weight: 700;
    margin: 5px 0 20px 0;
}


ks-footer .newsletter ks-button {
    width: 100%;
}

ks-footer .portals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    padding: 20px;
    border-top: solid 1px #2b2b2b
}

ks-footer .portals > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    padding: 10px;
}

ks-footer .separator {
    width: 1px;
    height: 35px;
    margin: 0 20px;

    background-color: #2b2b2b;
}

ks-footer .software {
    background-color: var(--footer-color-darker);
    color: var(--footer-text-color-darker);
    font-size: 13px;
    text-align: center;

    padding: 10px;
}

ks-footer .software > a {
    color: var(--footer-text-color-darker);
}

@media only screen and (max-width: 1060px) {
    ks-footer .about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 50px 30px 40px 30px;
    }


    ks-footer .contact {
        max-width: 220px;
    }

    ks-footer .links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    ks-footer .newsletter {
        margin-top: 40px;
        padding: 40px 0 0 0;

        border-top: solid 1px #2b2b2b;
    }
    
    ks-footer .newsletter ks-button {
        max-width: 290px;
    }
}

@media only screen and (max-width: 640px) {
    ks-footer .about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 30px;
    }

    ks-footer .links {
        margin-top: 0px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    ks-footer .links > * {
        margin-top: 40px;
        margin-right: 0px;
        padding: 0;
    }

    ks-footer .newsletter>div {
        font-size: 14px;
    }

    ks-footer .newsletter>div:last-of-type {
        font-size: 40px;
        margin-bottom: 10px;
    }

    ks-footer .portals > div:first-of-type {
        padding: 20px;
    }
}