ks-footer-button {
    display: inline-block;
    max-width: 120px;

    opacity: 1.0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

ks-footer-button:hover {
    opacity: 0.4;
}