ks-navbar-panel {
    display: block;
}

ks-navbar-panel .overlay {
    z-index: 2147483647;
}

ks-navbar-panel .overlay ks-navbar-button {
    float: right;
    margin-right: 15px;
}

ks-navbar-panel .panel {
    z-index: 2147483648;
    position: absolute;
    right: 0;
    width: 100%;

    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

ks-navbar-panel .hiding {
    opacity: 0.0;
}

ks-navbar-panel .hidden {
    opacity: 0.0;
    visibility: hidden;
}