ks-info-message[disabled] {
    display: none;
}

ks-info-message {
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    
    background-color: var(--color-secondary);
    color: #ffffff;

    max-height: 100px;
    transition: max-height 0.3s ease;
}

ks-info-message[animating] {
    max-height: 0;
}

ks-info-message .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center;

    margin: 10px;
    -ms-flex: 1;
        flex: 1;
}

ks-info-message .close {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;

    padding: 10px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.12);

    transition: background-color 0.3s ease;
}

ks-info-message .close:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

@media only screen and (max-width: 639px) {
    ks-info-message .content {
        font-size: 13px;
    }
}