ks-navbar {
    display: block;
    min-height: 104px;
    background-color: var(--navbar-color);
    transition: background-color 0.2s ease;
}

ks-navbar > nav {
    display: -ms-flexbox;
    display: flex;

    position: relative;

    color: var(--navbar-text-color);
}

ks-navbar > nav > .logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
        flex: 1;
    -ms-flex-align: center;
        align-items: center;
}

ks-navbar > nav > .search {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: unset;
        flex: unset;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

ks-navbar > nav > .buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: unset;
        flex: unset;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center;
}

ks-navbar > nav > .logo > div {
    margin-right: auto;
    margin-left: 15px;
    max-width: 217px;
    width: 100%;

    -ms-flex-pack: start;

        justify-content: flex-start;
}

ks-navbar > nav > .logo > div ks-img {
    max-width: 217px;
    margin-right: 15px;
}

ks-navbar > nav > .logo > div .promo {
    display: block;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    color: var(--navbar-text-color);
    white-space: nowrap;
}


@media only screen and (min-width: 640px) {
    ks-navbar > nav > .logo { -ms-flex: 1; flex: 1; }
    ks-navbar > nav > .buttons { -ms-flex: 1; flex: 1; }
}

@media only screen and (min-width: 1400px) {
    ks-navbar > nav > .search { -ms-flex: 1; flex: 1; }

    ks-navbar > nav > .logo > div ks-img {
        width: 217px;
    }

    ks-navbar > nav > .logo > div {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;

        max-width: unset;
        width: unset;
    }

    ks-navbar > nav > .logo > div .promo {
        margin-left: 15px;
        display: block;
        padding: 8px 20px 5px 20px;
        border-radius: 50px;

        background-color: var(--navbar-text-color);
        color: var(--navbar-color);

        font-size: 13px;
        font-weight: 700;
    }

    ks-navbar > nav > .logo > div a.promo {
        box-shadow: 0 0 0px rgba(255, 255, 255, 0.529);
        transition: box-shadow 0.2s ease;
    }

    ks-navbar > nav > .logo > div a.promo:hover {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.529);
    }

    ks-navbar > nav > .logo > div a.promo:active {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.529);
    }
}

#ks-navbar-menu-buttons {
    box-sizing: border-box;
    min-height: 70px;
    padding: 0 15px;
    text-decoration: none;
}

@media only screen and (max-width: 639px) {
    ks-navbar .tablet-desktop {
        display: none;
    }
}

@media only screen and (max-width: 959px) {
    ks-navbar .desktop {
        display: none;
    }
}

@media only screen and (min-width: 960px) {
    ks-navbar .mobile-tablet {
        display: none;
    }
}