ks-navbar-categories {
    display: block;

    background-color: var(--navbar-category-color);
    transition: background-color 0.2s ease;
    height: 32px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position: relative;
}


@media only screen and (max-width: 959px) {
    ks-navbar-categories {
        display: none;
    }
}