ks-navbar {
    display: block;
    min-height: 104px;
}

ks-navbar > nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: relative;

    color: var(--navbar-text-color);
    background-color: var(--navbar-color);
}

ks-navbar > nav > a {
    max-width: 217px;
    width: 100%;
}

ks-navbar .logo {
    margin: 0px 30px 0px 15px;
    max-width: 217px;
}

#ks-navbar-menu-buttons {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    min-height: 70px;
    padding: 0 15px;
    text-decoration: none;
}

@media only screen and (max-width: 639px) {
    ks-navbar .tablet-desktop {
        display: none;
    }
}

@media only screen and (max-width: 959px) {
    ks-navbar .desktop {
        display: none;
    }
}

@media only screen and (min-width: 960px) {
    ks-navbar .mobile-tablet {
        display: none;
    }
}