ks-navbar-sidebar {
    display: block;
}

ks-navbar-sidebar nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;

    width: 320px;
    height: 100%;
    padding: 25px 30px;

    overflow-y: auto;

    background: #ffffff;
    box-shadow: var(--card-shadow);
}

ks-navbar-sidebar nav .close {
    position: absolute;
    top: 15px;
    right: 25px;
    padding: 5px;
    color: #252525;

    -webkit-transition: color .1s ease-in-out;

    transition: color .1s ease-in-out;
    cursor: pointer;

    border: none;
    outline: none;

    background-color: transparent;
}

@media only screen and (max-width: 640px) {
    ks-navbar-sidebar nav {
        width: 300px;
        padding: 20px;
    }

    ks-navbar-sidebar nav .close {
        right: 15px;
    }
}

ks-navbar-sidebar nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    font-size: 16px;
}

ks-navbar-sidebar nav ul .header:first-child {
    margin-top: 0px;
}

ks-navbar-sidebar nav ul .header {
    margin-top: 15px;
}

ks-navbar-sidebar nav ul .divider {
    padding: 0px;
    margin: 5px 0px !important;

    border-bottom: 1px solid #e2e2e2;
}

ks-navbar-sidebar nav ul li {
    padding: 5px 0px;
}

ks-navbar-sidebar nav a {
    display: block;
    color: #252525 !important;
    text-decoration: none !important;
}

ks-navbar-sidebar nav ul ks-icon {
    float: right;
}

ks-navbar-sidebar nav ul .badge {
    float: right;

    display: -webkit-inline-box;

    display: -ms-inline-flexbox;

    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    box-sizing: border-box;
    min-width: 30px;
    height: 30px;
    padding: 0px 0px;

    border-radius: 50px;

    vertical-align: middle;
    
    background: #e21334;
    color: #ffffff;
    font-size: 16px;

    -webkit-transform: translateX(4px);

        -ms-transform: translateX(4px);

            transform: translateX(4px);
}

ks-navbar-sidebar nav > a {
    padding: 4px 0px;
}


@media (min-width: 640px) {
    ks-navbar-sidebar nav .small {
        display: none !important;
    }
}