ks-navbar-search         { display: block; }
ks-navbar-search[mobile] { display: none; }

@media only screen and (max-width: 959px) {
    ks-navbar-search         { display: none; }
    ks-navbar-search[mobile] { display: block; }
}

ks-navbar-search form {
    display: inline-block;
    position: relative;
    box-sizing: border-box;

    width: 350px;
    max-width: 100%;
    height: 40px;
    margin: 0;
}

ks-navbar-search[mobile] form {
    width: 100%;
}

ks-navbar-search[mobile] {
    padding: 15px;
    background-color: var(--navbar-category-color);
}

ks-navbar-search form > a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;

    padding-right: 10px;

    color: #151515;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

ks-navbar-search form > a:hover {
    color: #858585;
}

ks-navbar-search form > a:active {
    color: #b5b5b5;
}

ks-navbar-search input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: visible;

    -webkit-appearance: none;
    vertical-align: middle;

    margin: 0;
    padding-right: 50px;
    font-size: 16px;
    text-align: center;

    background-color: #fff;
    border-radius: 20px;
    border: none;
}

ks-navbar-search input::-ms-clear {  display: none; width : 0; height: 0; }
ks-navbar-search input::-ms-reveal {  display: none; width : 0; height: 0; }

ks-navbar-search input::-webkit-search-decoration,
ks-navbar-search input::-webkit-search-cancel-button,
ks-navbar-search input::-webkit-search-results-button,
ks-navbar-search input::-webkit-search-results-decoration { display: none; }


ks-navbar-search input:focus {
    outline:0;
}

ks-navbar-search .list {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    overflow: hidden;

    margin-top: 10px;
    border-radius: 20px;
    
    color: black;
}

ks-navbar-search .list a {
    display: block;
    padding: 10px 20px;
    text-decoration: none !important;
    color: #151515 !important;
    background-color: white;
}

ks-navbar-search .list a:not(:first-child) {
    border-top: #f2f2f2 1px solid;
}

ks-navbar-search .list a ks-icon {
    float: right;
    color: #d2d2d2;
}

ks-navbar-search .list a.active {
    background-color: #252525;
    color: white !important;
}

ks-navbar-search .list a.active ks-icon {
    color: white;
}

ks-navbar-search .list a:hover {
    background-color: #f2f2f2;
}

ks-navbar-search .list a:active {
    background-color: #e2e2e2;
}

ks-navbar-search .list a.active:hover {
    background-color: #2e2e2e;
}

ks-navbar-search .list a.active:active {
    background-color: #3b3b3b;
}