ks-filter {
    display: block;
    margin-bottom: 10px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

ks-filter > div {
    font-family: var(--font-emphasis);
    font-size: 1.1rem;
}

ks-filter > div > ks-icon {
    float: right
}

ks-filter .filter-content {
    display: none;
    font-size: 1rem;
    padding: 10px 0;
}

ks-filter[active] .filter-content {
    display: block;
    -webkit-animation: fade-in 0.3s ease 1;
            animation: fade-in 0.3s ease 1;
}