ks-product-tags {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;

}

ks-product-tags div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

ks-product-tags a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    box-sizing: border-box;
    
    padding: 5px 15px;
    margin: 2px;
    border-radius: 20px;
    
    font-size: 14px;
    font-family: var(--font-emphsis);
    text-align: center;

    background-color: #252525;
    color: white;
}

ks-product-tags ks-button {
    display: none;
    margin-top: 8px;
}

@media (max-width: 1200px) {
    ks-product-tags a {
        width: calc(33.33% - 8px);
        margin: 4px;
    }

    ks-product-tags:not([expanded]) a:nth-child(n+7) {
        display: none;
    }

    ks-product-tags[expandable='3'] ks-button {
        display: initial;
    }
}

@media (max-width: 800px) {
    ks-product-tags a {
        width: calc(50% - 8px);
        margin: 4px;
    }

    ks-product-tags:not([expanded]) a:nth-child(n+5) {
        display: none;
    }

    ks-product-tags[expandable='2'] ks-button,
    ks-product-tags[expandable='3'] ks-button {
        display: initial;
    }
}


@media (max-width: 460px) {
    ks-product-tags a {
        width: 100%;
    }

    ks-product-tags:not([expanded]) a:nth-child(n+4) {
        display: none;
    }

    ks-product-tags[expandable] ks-button {
        display: initial;
    }
}