ks-product-suggestions {
    display: block;
}

ks-product-suggestions .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 100%;
    height: 100%;
    overflow-y: auto;

    background-color: white;
    text-align: center;
}

ks-product-suggestions .content > .top {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    box-sizing: border-box;

    height: 100%;
    padding: 40px 20px;
    max-height: 400px;
}

ks-product-suggestions .content > .top > .heading {
    font-family: var(--font-emphasis);
    font-size: 20px;
    font-weight: 700;
}

ks-product-suggestions .content > .top > .name {
    font-family: var(--font-emphasis);
    font-size: 18px;
}

ks-product-suggestions .content > .top > .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
}

ks-product-suggestions .content > .top > .buttons > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: 5px;
}


ks-product-suggestions .content > .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    position: relative;
    box-sizing: border-box;
    padding: 10px 0px;
    height: 100%;

    background-color: #f2f2f2;
}

ks-product-suggestions .content > .bottom > .fade-left,
ks-product-suggestions .content > .bottom > .fade-right {
    position: absolute;
    top: 0;

    height: 100%;
    width: 50px;
    z-index: 1;
}

ks-product-suggestions .content > .bottom > .fade-left {
    background-image: -webkit-gradient(linear, left top, right top, from(#f2f2f2), to(rgba(242, 242, 242, 0)));
    background-image: linear-gradient(to right, #f2f2f2, rgba(242, 242, 242, 0));
    left: 0;
}

ks-product-suggestions .content > .bottom > .fade-right {
    background-image: -webkit-gradient(linear, right top, left top, from(#f2f2f2), to(rgba(242, 242, 242, 0)));
    background-image: linear-gradient(to left, #f2f2f2, rgba(242, 242, 242, 0));
    right: 0;
}

ks-product-suggestions .swiper-container {
    width: 100%;
    margin-bottom: 15px;
}

ks-product-suggestions .swiper-slide {
    height: 100%;
    width: auto;
    max-width: 230px;
    overflow: hidden;

    -webkit-animation: fade-in 0.8s ease 1;

            animation: fade-in 0.8s ease 1;
}

ks-product-suggestions .swiper-slide > * {
    width: 230px;
}


ks-product-suggestions .suggestion-heading {
    font-size: 18px;
    margin: 10px 0 20px 0;
    text-align: center;
}

ks-product-suggestions ks-product-card .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 230px;
}

@media (max-width: 560px) {
    ks-product-suggestions .content > .top {
        padding: 20px 10px;
    }

    ks-product-suggestions .content > .top > .buttons {
        width: 100%;
        
        -webkit-box-orient: vertical;
        
        -webkit-box-direction: normal;
        
            -ms-flex-direction: column;
        
                flex-direction: column;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        margin-top: 10px;
    }


    ks-product-suggestions ks-product-card .top {
        min-height: 210px;
        max-height: 210px;
    }
}

@media (max-width: 370px) {
    ks-product-suggestions .content > .top > .buttons > * > button {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    ks-product-suggestions .content > .top > .heading {
        font-size: 18px;
    }
    
    ks-product-suggestions .content > .top > .name {
        font-family: var(--font-regular);
        font-size: 14px;
    }

    ks-product-suggestions .swiper-slide > * {
        width: 200px;
    }


    ks-product-suggestions ks-product-card .top {
        min-height: 180px;
        max-height: 180px;
    }

    ks-product-suggestions .suggestion-heading {
        font-size: 16px;
        margin: 3px 0 10px 0;
    }
}