ks-product-tab {
    display: block;
}

@media only screen and (min-width: 960px) {
    ks-product-tab .accordion {
        display: none;
    }
}

ks-product-tab > button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    background-color: transparent;
    color: #151515;

    width: 100%;

    border: none;
    outline: none;
    padding: 10px 0px 20px 0px;
    margin: 0;

    transition: color 0.3s ease;
}

ks-product-tab > button:hover {
    color: #606060;
}


ks-product-tab:not([open]) > button > ks-icon {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

ks-product-tab:not([open]) > button:hover > ks-icon {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

ks-product-tab > .tab-content {
    display: none;
    max-width: 100%;
}


@media only screen and (min-width: 960px) {
    ks-product-tab[main] > .tab-content {
        display: block;
    }
}

@media only screen and (max-width: 960px) {
    ks-product-tab[open] > .tab-content {
        display: block;
    }
}
