ks-product-negotiate {
    display: block;
    position: relative;
    z-index: 2;
}

ks-product-negotiate fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

ks-product-negotiate .info {
    text-align: center;
}

ks-product-negotiate h3 {
    font-family: var(--font-emphasis);
    font-size: 20px;
    font-weight: 700;
}