ks-cart-discount-ticket {
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    min-height: 70px;

    box-sizing: border-box;

    background-color: #ff3838;
    color: white;

    font-size: 20px;
}

ks-cart-discount-ticket .content {
    -ms-flex: 1;
        flex: 1;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;

    padding: 10px 20px;
}

ks-cart-discount-ticket .name {
    -ms-flex: 1;
        flex: 1;
    font-weight: 700;
}

ks-cart-discount-ticket .remove {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;

    width: 70px;

    background-color: transparent;
    transition: background-color 0.2s ease;
}

ks-cart-discount-ticket .remove:hover {
    background-color: rgba(0, 0, 0, 0.068);
}

ks-cart-discount-ticket .remove:active {
    background-color: rgba(0, 0, 0, 0.137);
}

@media only screen and (max-width: 560px) {
    ks-cart-discount-ticket .content {
        display: block;
    }

    ks-cart-discount-ticket .value {
        font-size: 16px;
    }
}