ks-cart-discount-code {
    display: block;
}

ks-cart-discount-code > form:first-child {
    display: -ms-flexbox;
    display: flex;
}

ks-cart-discount-code ks-input-text {
    display: block;
    -ms-flex: 1;
        flex: 1;
}

ks-cart-discount-code ks-input-text input {
    height: 50px !important;
}

ks-cart-discount-code ks-input-text > div {
    margin-bottom: 3px !important;
}

ks-cart-discount-code button {
    padding: 0 30px !important;
    height: 50px;
}


@media only screen and (max-width: 560px) {
    ks-cart-discount-code > form:first-child {
        display: block;
    }

    ks-cart-discount-code button {
        width: 100%;
    }
}


ks-cart-discount-code .messsage {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;

    height: 100px;

    margin-top: 7px;

    background-color: #222222; 
    transition: background-color 0.3s ease;
}

ks-cart-discount-code .messsage:hover {
    background-color: #303030;
}

@media only screen and (max-width: 470px) {
    ks-cart-discount-code .messsage {
        height: 25vw;
    }
}