ks-cart-discount-container {
    display: block;
    min-height: 123px;
}

ks-cart-discount-container > .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

ks-cart-discount-container > .flex > * {
    width: calc(50% - 4px);
}


@media only screen and (max-width: 1100px) {
    ks-cart-discount-container > .flex {
        display: block;
    }
    
    ks-cart-discount-container > .flex > * {
        width: 100%;
        margin-bottom: 30px;
    }
}