ks-cart-progress-bar {
  display: block;
  padding: 25px 30px 30px 30px;

  -webkit-transition: background-color 0.3s ease;

  transition: background-color 0.3s ease;
}

ks-cart-progress-bar .heading {
  display: -webkit-box;
  display: flex; 
  -webkit-box-pack: justify; 
          justify-content: space-between;

  margin-bottom: 10px;

  font-size: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
}

ks-cart-progress-bar .progress {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;

  width: 100%;
  height: 35px;

  border-radius: 3px;

  background-color: rgba(255, 255, 255, 0.219);
}

ks-cart-progress-bar .progress-fill {
  height: 100%;
  border-radius: inherit;

  -webkit-transition: width 0.3s ease;

  transition: width 0.3s ease;

  display: -webkit-box;

  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;

  padding: 0 15px;
  box-sizing: border-box;

  background-color: white;
}

ks-cart-progress-bar .progress-number {
  color: #252525;

  font-size: 17px;
  font-weight: 700;
}

ks-cart-progress-bar .outside {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
}


@media only screen and (max-width: 959px) {
  ks-cart-progress-bar {
    padding: 15px 20px 20px 20px;
  }
}


@media only screen and (max-width: 520px) {
  ks-cart-progress-bar .heading {
    display: block;
    text-align: center;
  }

  ks-cart-progress-bar .heading > div:first-child {
    display: block;
    font-weight: 700;
  }
}