ks-promotional-popup {
    display: block;
}

ks-promotional-popup .content {
    width: 100%;
}

ks-promotional-popup .info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;

    position: relative;

    height: 100%;
    width: 100%;
    max-width: 720px;

    padding: 20px;
    box-sizing: border-box;
}

ks-promotional-popup .info ks-img2 {
    max-height: 500px;
}

ks-promotional-popup .texture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}