ks-button-fav {
    display: block;
    height: 100%;
}

ks-button-fav[expand] {
    -ms-flex: 1;
        flex: 1;
}

ks-button-fav[padding] button {
    padding: 5px;
    min-height: 50px;
}

@media (min-width: 700px) {
    ks-button-fav[padding] button {
        min-height: 60px;
        padding: 10px;
    }
}

ks-button-fav button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 42px;
    min-width: 44px;

    padding: 1px 10px;
    font-size: .875rem;
    line-height: 40px;

    text-align: center;
    text-decoration: none;
    text-transform: none;

    outline: none;
    border: none;
    border-radius: 0px;

    color: white;
    background-color: var(--product-card-secondary);
    transition: var(--transition-background-color);
}

ks-button-fav button:hover {
    background-color: var(--product-card-secondary-hover);
}

ks-button-fav button:active {
    background-color: var(--product-card-secondary-active);
}

ks-button-fav .success {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -ms-flex-align: center;

        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;

    background-color: var(--product-card-secondary);
    -webkit-animation: fade-in 0.2s 1;
            animation: fade-in 0.2s 1;
}