ks-product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 100%;
    text-align: center;

    background: var(--card-background);
    color: var(--card-text-color);
    box-shadow: var(--card-shadow);
}

@media (min-width: 360px) {
    ks-product-card { width: calc(50% - 15px); }
}

@media (min-width: 640px) {
    ks-product-card { width: 230px; }
}

ks-product-card .top {
    display: block;
    padding: 15px;

    min-height: 200px;

    color: inherit !important;
    text-decoration: none !important;
    font-size: 14px;
}

ks-product-card ks-img {
    height: auto;
}

ks-product-card .price > * {
    display: block;
}

ks-product-card .price .previous {
    color: #707070;
    font-size: 14px;
}

ks-product-card .price .current {
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 16px;
}


ks-product-card .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}

ks-product-card .bottom .unavailable,
ks-product-card .bottom .link {
    display: block;
    width: 100%;

    padding: 10px 10px;
    font-size: .875rem;

    text-align: center;
    text-decoration: none;
    text-transform: none;

    color: white;
    background-color: var(--color-secondary);
    -webkit-transition: var(--transition-background-color);
    transition: var(--transition-background-color);
}

ks-product-card .bottom .link:hover {
    background-color: var(--color-secondary-hover);
}

ks-product-card .bottom .link:active {
    background-color: var(--color-secondary-active);
}

ks-product-card[unavailable] .top,
ks-product-card[unavailable] .price {
    opacity: 0.6;
}

@media (max-width: 420px) {
    ks-product-card .top {
        font-size: 13px;
        padding: 8px;
    }

    ks-product-card .price {
        line-height: 18px;
    }
}