ks-product-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    
    width: 100%;
    text-align: center;

    background: var(--card-background);
    color: var(--card-text-color);
    box-shadow: var(--card-shadow);
}

@media (min-width: 360px) {
    ks-product-card { width: calc(50% - 15px); }
}

@media (min-width: 640px) {
    ks-product-card { width: 228px; }
}

ks-product-card .top {
    display: block;
    padding: 15px;

    min-height: 200px;

    color: inherit !important;
    text-decoration: none !important;
    font-size: 14px;
}

ks-product-card ks-img {
    height: auto;
    margin-bottom: 10px;
}

ks-product-card .price > * {
    display: block;
    font-family: var(--font-emphasis);
}

ks-product-card .price .previous {
    color: #888888;
    font-size: 15px;
}

ks-product-card .price .current {
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 17px;
}


ks-product-card .bottom {
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}

ks-product-card .bottom .unavailable,
ks-product-card .bottom .link {
    display: block;
    width: 100%;

    padding: 10px 10px;
    font-size: .875rem;

    text-align: center;
    text-decoration: none;
    text-transform: none;

    color: white;
    background-color: var(--color-secondary);
    transition: var(--transition-background-color);
}

ks-product-card .bottom .unavailable {
    color: #252525;
    background-color: #f1f1f1;
}

ks-product-card .bottom .link:hover {
    background-color: var(--color-secondary-hover);
}

ks-product-card .bottom .link:active {
    background-color: var(--color-secondary-active);
}

ks-product-card[unavailable] .top,
ks-product-card[unavailable] .price {
    opacity: 0.6;
}

ks-product-card[unavailable] .price .current {
    color: #252525;
}

@media (max-width: 420px) {
    ks-product-card .top {
        font-size: 13px;
        padding: 8px;
    }

    ks-product-card .price {
        line-height: 18px;
    }
}


ks-product-card .cart {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 42px;
    min-width: 44px;

    padding: 1px 10px;
    font-size: .875rem;
    line-height: 40px;

    text-align: center;
    text-decoration: none;
    text-transform: none;
    font-family: var(--font-regular);

    outline: none;
    border: none;
    border-radius: 0px;

    color: white;
    background-color: var(--product-card-primary);
    transition: var(--transition-background-color);
}

ks-product-card .cart:hover {
    background-color: var(--product-card-primary-hover);
}

ks-product-card .cart:active {
    background-color: var(--product-card-primary-active);
}

ks-product-card .fav {
    position: relative;
    display: block;
    height: 100%;
    min-height: 42px;
    min-width: 44px;

    padding: 1px 10px;
    font-size: .875rem;
    line-height: 40px;

    text-align: center;
    text-decoration: none;
    text-transform: none;

    outline: none;
    border: none;
    border-radius: 0px;

    color: white;
    background-color: var(--product-card-secondary);
    transition: var(--transition-background-color);
}

ks-product-card .fav:hover {
    background-color: var(--product-card-secondary-hover);
}

ks-product-card .fav:active {
    background-color: var(--product-card-secondary-active);
}

ks-product-card .fav .success {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -ms-flex-align: center;

        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;

    background-color: var(--product-card-secondary);
    -webkit-animation: fade-in 0.2s 1;
            animation: fade-in 0.2s 1;
}