ks-product-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: stretch;
        align-items: stretch;
    margin-left: -15px;
    margin-top: -15px;
    padding: 0 10px;
}

ks-product-container > * {
    margin-left: 15px;
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 360px) and (max-width: 640px) {
    ks-product-container > * {
        width: 50%;
    }
}

@media (min-width: 640px) {
    ks-product-container > * {
        width: 228px;
    }
}