ks-product-variants {
    display: block;
}

ks-product-variants .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    max-width: 100%;

    max-width: calc(100% + 18px);
    width: 200%;
    margin: -9px;
}

ks-product-variants ks-product-variant {
    padding: 9px;
    box-sizing: border-box;
}

ks-product-variants .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px !important;
}

ks-product-variants .more button {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;

    box-sizing: border-box;
    background-color: white;

    padding: 3px 30px;
    min-height: 46px;
    min-width: 84px;

    border-radius: 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.18);
    -webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
}

ks-product-variants .more button:hover {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.18);
}