ks-product-variants {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}

ks-product-variants .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    max-width: 100%;

    max-width: calc(100% + 18px);
    width: 200%;
    margin: -9px;
}

ks-product-variants ks-product-variant {
    padding: 9px;
    box-sizing: border-box;
}

ks-product-variants ks-button {
    margin-top: 15px;
}
