ks-featured {
    display: block;
    position: relative;
}

ks-featured a {
    display: block;
}

ks-featured .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);

    color: white;
    background-color: rgba(0, 0, 0, 0.596);

    opacity: 0;
    -webkit-transition: opacity 0.3s ease,
                -webkit-transform 0.1s ease-out;
    transition: opacity 0.3s ease,
                -webkit-transform 0.1s ease-out;
    transition: opacity 0.3s ease,
                transform 0.1s ease-out;
    transition: opacity 0.3s ease,
                transform 0.1s ease-out,
                -webkit-transform 0.1s ease-out;
}

ks-featured:hover .icon {
    opacity: 1;
}

ks-featured:active .icon {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.95);
        -ms-transform: translate(-50%, -50%) scale(0.95);
            transform: translate(-50%, -50%) scale(0.95);
}