ks-cart-product {
    display: block;
}

ks-cart-product > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
}

ks-cart-product .description {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

ks-cart-product .description a {
    color: inherit !important;
    text-decoration: none !important;
}

ks-cart-product .numbers {
    font-weight: 700;
}

ks-cart-product .price {
    text-align: center;
    width: 100px;
}

ks-cart-product .amount {
    text-align: center;
    width: 120px;
}


@media only screen and (max-width: 959px) {
    ks-cart-product .price {
        text-align: initial;
        width: initial;

        color: #e21334;
    }
    
    ks-cart-product .shipping {
        margin-left: 10px;
    }

    ks-cart-product .amount {
        text-align: initial;
        width: initial;

        margin-left: 15px;
    }

    ks-cart-product ks-cart-spinner {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 640px) {
    ks-cart-product > div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative;
    }

    ks-cart-product .description {
        text-align: center;
    }

    ks-cart-product .shipping {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
    }

    ks-cart-product .numbers {
        margin-top: 7px;
    }
}