ks-product-attribute {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin: 5px 0px;

    font-family: var(--font-emphasis);
    font-size: 15px;
    line-height: 15px;
}

ks-product-attribute[danger] {
    color: var(--color-secondary);
    font-weight: 700;

    -webkit-animation: blink 1.5s ease-in-out infinite;

            animation: blink 1.5s ease-in-out infinite;
}

ks-product-attribute[emphasis] {
    color: var(--color-secondary);
    font-weight: 700;
}

ks-product-attribute[faded] {
    color: var(--color-faded);
}

ks-product-attribute a {
    color: inherit !important;
    text-decoration: none !important;
}

ks-product-attribute ks-icon {
    margin-right: 10px;
}

ks-product-attribute ks-icon:nth-child(2) {
    margin-left: 10px;
}


@media only screen and (max-width: 540px) {
    ks-product-attribute {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        text-align: center;
        -ms-flex-align: center;
            align-items: center;
        margin: 5px auto;
    }
}

@media only screen and (max-width: 405px) {
    ks-product-attribute {
        max-width: 68%;
    }
}