ks-product-price {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin: 10px 0 20px;

    font-family: var(--product-price-font);
    font-weight: 700;
}

ks-product-price .previous {
    display: inline-block;
    color: var(--color-faded);
    font-size: var(--product-price-size);
    line-height: var(--product-price-size);
    position: relative;
    margin-left: 15px;
}

ks-product-price .previous::after {
    background-color: var(--color-faded);
    content: "";
    height: 0.1em;
    left: -3px;
    right: -3px;
    position: absolute;
    top: 46%;
}

ks-product-price .current {
    color: var(--color-secondary);
    font-size: var(--product-price-size-emphasis);
    line-height: var(--product-price-size);
}

@media only screen and (max-width: 560px) {
    ks-product-price .price {
        display: block;
        width: 100%;

        margin-bottom: 20px;
        margin-right: 0px;
        text-align: center;
    }
}

ks-product-price .currency {
    width: 15px;
    height: 15px;
    padding: 5px;
    line-height: 13px;

    margin: 1px 0 0 10px;

    border-radius: 30px;
    background-color: var(--color-secondary);
    color: white;

    font-family: var(--product-price-font);
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}