ks-product-images {
    display: block;
    margin-right: 30px;
}

ks-product-images .swiper-slide {
    position: relative;
}

ks-product-images .swiper-slide canvas {
    max-width: 100%;
    max-height: 500px;
}

ks-product-images .preview ks-img {
    position: absolute;
    top: 0;

    width: 100%;
    max-height: 500px;
    margin: auto;
}

ks-product-images .thumb {
    margin-top: 20px;
    position: relative;
}

ks-product-images .thumb::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -30px;

    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(85%, rgba(255,255,255,0)), to(rgba(255,255,255,1)));

    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%);
    z-index: 2;
    pointer-events: none;
}

ks-product-images .thumb .swiper-slide {
    width: 70px;
    height: 70px;
    opacity: 0.4;
    -webkit-transition: var(--transition-opacity);
    transition: var(--transition-opacity);
}

ks-product-images .thumb .swiper-slide-thumb-active {
    opacity: 1;
}

@media only screen and (max-width: 959px) {
    ks-product-images {
        margin-right: 0px;
        margin-top: 30px;
    }

    ks-product-images .thumb {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 460px) {
    ks-product-images .swiper-slide canvas {
        max-height: 300px;
    }
    
    ks-product-images .preview ks-img {
        max-height: 300px;
    }
}


ks-product-images .preview:not(.swiper-container-initialized) .swiper-slide:nth-child(n+2) {
    display: none;
}

ks-product-images .thumb .swiper-wrapper {
    opacity: 1;
    -webkit-animation: fade-in 0.3s ease;
            animation: fade-in 0.3s ease;
}

ks-product-images .thumb:not(.swiper-container-initialized) .swiper-wrapper {
    opacity: 0;
    -webkit-animation: none;
            animation: none;
}
