ks-product-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%;
    margin: 5px 2px;
}

ks-product-button button {
    outline-style: none;
    border-style: none;
    border-radius: 50px;

    padding: 12px 25px;

    background-color: var(--color-dark);
    color: var(--text-color-dark);
    font-family: var(--product-button-font);
    font-size: var(--product-button-size);
    line-height: var(--product-button-size);
    

    transition: var(--transition-background-color);
}

ks-product-button button:hover {
    background-color: var(--color-dark-hover);
}
ks-product-button button:active {
    background-color: var(--color-dark-active);
}

ks-product-button[icon] {
    border-radius: 0px;
    height: 40px;
    margin: 0;

    padding: 5px 0px;

    background-color: var(--color-dark);
    color: var(--text-color-dark);
    transition: var(--transition-background-color);
}

ks-product-button[icon]:hover {
    background-color: var(--color-dark-hover);
}
ks-product-button[icon]:active {
    background-color: var(--color-dark-active);
}

@media only screen and (max-width: 400px) {
    ks-product-button button {
        padding: 12px 25px;
    }
}
