ks-listing-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    padding: 15px 0px;
}

ks-listing-navigation ks-filtering {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 20px 0 0;
}

ks-listing-navigation ks-sorting {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 0 0 20px;
}

ks-listing-navigation ks-pagination {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

@media (max-width: 640px) {
    ks-listing-navigation {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    ks-listing-navigation ks-filtering {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin: 0 3px 6px 0;
        width: 40%;
        min-width: 144px;
        box-sizing: border-box;
    }
    
    ks-listing-navigation ks-sorting {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin: 0 0 6px 3px;
        width: 40%;
        min-width: 144px;
        box-sizing: border-box;
    }    

    ks-listing-navigation ks-pagination {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        min-width: 100%;
    }
}

@media (max-width: 344px) {
    ks-listing-navigation ks-filtering,
    ks-listing-navigation ks-sorting {
        width: 48.7%;
        min-width: 120px;
    }
}