ks-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

ks-pagination a {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    box-sizing: border-box;

    border: 1px solid #e5e5e5;
    background-color: white;
    color: #252525;
    
    vertical-align: middle;
    font-size: .875rem;

    text-align: center;
    text-decoration: none;
    text-transform: none;

    -webkit-transition: border 0.3s ease;

    transition: border 0.3s ease;
}

ks-pagination a:hover {
    border: 1px solid #b9b9b9;
    text-decoration: none;
    color: #252525;
}

ks-pagination a.active {
    border: 1px solid #252525;
    background-color: #252525;
    color: white;
    cursor: default;
}

.separator {
    width: 15px;
}