ks-category-simple {
    display: inline-block;
    position: relative;
    height: 32px;
    outline: 1px solid transparent;
    color: white;
}

ks-category-simple > a {
    margin: 0 5px 0 10px;
    line-height: 35px;
    text-decoration: none;

    transition: color 0.3s ease;
    color: white;

    font-size: .875rem;
}

ks-category-simple > ks-icon {
    margin: 0 20px 0 -4px;
}


ks-category-simple > a:hover {
    text-decoration: none;
    color: #ffffffbb;
}

ks-category-simple > div {
    background-color: white;
    color: #252525;
    position: absolute;
    z-index: 10000;
    top: 33px;
    left: 0px;

    min-width: 200px;

    opacity: 0.0;
    transition: opacity 0.2s ease;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26)
}


ks-category-simple > div a {
    display: block;
    padding: 9px 15px;
    text-decoration: none;

    font-size: 14px;
    text-align: left;

    box-sizing: border-box;
    border-bottom: 1px solid #f2f2f2;

    transition: background-color 0.3s ease;
    color: #252525;
}

ks-category-simple > div a:hover {
    text-decoration: none;
    color: #252525;

    background-color: #f9f9f9;
}

ks-category-simple > div a:active {
    text-decoration: none;
    background-color: #e6e6e6;
}