ks-cart-country-select {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
}

ks-cart-country-select .select {
    position: relative;
    height: 35px;
    margin-bottom: 20px;
}

ks-cart-country-select .select .icons {
    position: absolute;
    width: 25px;
    height: 25px;

    top: 5px;
    right: 4px;

    pointer-events: none;

    opacity: 1.0;
    transition: opacity 0.3s ease;
}

ks-cart-country-select .select .icons span { position: absolute;}
ks-cart-country-select .select span:last-of-type { opacity: 0.0; }

ks-cart-country-select .select select {
    height: 100%;
    padding: 3px 35px 3px 5px;

    outline: none;
    border: none;

    -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

    -moz-text-align-last: right;

         text-align-last: right;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;

    color: #151515;
    transition: color 0.3s ease;
}

ks-cart-country-select .select option { font-size: 16px; }
ks-cart-country-select .select:hover select { color: #606060; }

ks-cart-country-select .select:hover span:first-of-type { opacity: 0.0; }
ks-cart-country-select .select:hover span:last-of-type { opacity: 1.0; }


@media only screen and (max-width: 520px) {
    ks-cart-country-select {
        display: block;
    }

    ks-cart-country-select .select {
        margin-bottom: 35px;
    }

    ks-cart-country-select .select select {
        height: 50px;
        width: 100%;

        padding: 0 20px;

        background-color: #f8f8f8;
        border: 1px solid #d2d2d2;

        -moz-text-align-last: left;

             text-align-last: left;
        font-size: 16px;
    }

    ks-cart-country-select .select .icons {
        height: 50px;
        width: 50px;

        top: 0;
        right: 0;

        box-sizing: border-box;
        padding: 13px;

        background-color: #252525;
        color: white;
    }

    ks-cart-country-select .select span:first-of-type { opacity: 0.0 !important; }
    ks-cart-country-select .select span:last-of-type { opacity: 1.0 !important; }
}