ks-dialog {
    display: block;
}

ks-dialog .content {
    background-color: var(--card-background);
    box-shadow: var(--big-shadow);
    color: var(--card-text-color);

    position: relative;
    box-sizing: border-box;
    max-width: 720px;
    padding: 30px;
    line-height: 24px;
}

ks-dialog[nopadding] .content {
    padding: 0px !important;
}

@media (max-width: 720px) {
    ks-dialog .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%;
        padding: 20px;
    }
}

@media (max-width: 420px) {
    ks-dialog .content {
        font-size: 13px;
        line-height: 18px;
        padding: 15px;
    }
}

ks-dialog ks-overlay .content {
    -webkit-animation: 0.4s vertical-swipe-out 1;
            animation: 0.4s vertical-swipe-out 1;
}

ks-dialog ks-overlay.active .content {
    -webkit-animation: 0.4s vertical-swipe-in 1;
            animation: 0.4s vertical-swipe-in 1;
}

ks-dialog .close  {
    position: absolute;
    top: 20px;
    right: 20px;

    border-style: none;
    outline-style: none;
    background-color: transparent;

    z-index: 200;

    -webkit-animation: fade-in 0.3s 1;

            animation: fade-in 0.3s 1;
}

ks-dialog[dark] .close  {
    color: white;
}

ks-dialog .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 100;

    padding: 30px;
    background-color: rgba(255,255,255, 0.8);

    -webkit-animation: fade-in 0.3s 1;

            animation: fade-in 0.3s 1;
}

ks-dialog .opaque {
    background-color: #ffffff;
}

ks-dialog .overlay > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    box-sizing: border-box;
    max-width: 800px;
    width: 80%;

    text-align: center;
}

ks-dialog .overlay > div > * {
    -webkit-animation: vertical-swipe-in-short 0.5s;
            animation: vertical-swipe-in-short 0.5s;
}

ks-dialog .overlay .header {
    font-family: var(--font-emphasis);
    font-size: 20px;
    font-weight: 700;
}