ks-error-popup  {
    display: block;
}

ks-error-popup .content  {
    max-width: 800px;
    width: 100%;

    background-color: var(--card-background);
    box-shadow: var(--card-shadow);
}

ks-error-popup .bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    background-color: var(--color-secondary);
}

ks-error-popup .title  {
    -ms-flex: 1;
        flex: 1;
    padding: 10px 20px;
    
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-emphasis);
}

ks-error-popup .close  {
    padding: 10px;
    background-color: var(--color-secondary);
    opacity: 1;
    transition: var(--transition-opacity);
}

ks-error-popup .close:hover  {
    opacity: 0.6
}

ks-error-popup .message  {
    padding: 30px 30px;
    color: var(--card-text-color);
    text-align: center;

    font-size: 18px;
}

ks-error-popup .data  {
    text-align: center;
    border-top: 1px solid #e2e2e2;
    padding: 20px;
    color: var(--card-text-color);
    background-color: #f2f2f2;

    font-size: 14px;
}

ks-error-popup .data .stack {
    display: block;
    margin-top: 10px;
}

ks-error-popup .content.visible {
    -webkit-animation: 0.4s vertical-swipe-in 1;
            animation: 0.4s vertical-swipe-in 1;
}

ks-error-popup .content.hidden {
    -webkit-animation: 0.4s vertical-swipe-out 1;
            animation: 0.4s vertical-swipe-out 1;
}