ks-sidepanel  {
    display: block;
    position: absolute;
}

ks-sidepanel .content  {
    position: absolute;
    z-index: 100000;

    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    
    width: 320px;
    height: 100%;
    padding: 15px 30px;
    
    overflow-y: auto;
    
    color: black;
    background: #ffffff;
}

ks-sidepanel[left] .content  {
    left: 0;
}

ks-sidepanel .content .close {
    position: absolute;
    top: 15px;
    right: 25px;
    padding: 5px;
    color: #252525;

    transition: color .1s ease-in-out;
    cursor: pointer;

    border: none;
    outline: none;

    background-color: transparent;
}

@media only screen and (max-width: 640px) {
    ks-sidepanel .content {
        width: 300px;
        padding: 20px;
    }

    ks-sidepanel .content .close {
        right: 15px;
    }
}


ks-sidepanel .content {
    -webkit-transform:translateX(100%);
        -ms-transform:translateX(100%);
            transform:translateX(100%);
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

ks-sidepanel[left] .content {
    -webkit-transform:translateX(-100%);
        -ms-transform:translateX(-100%);
            transform:translateX(-100%);
}

ks-sidepanel .visible {
    -webkit-transform:translateX(0%) !important;
        -ms-transform:translateX(0%) !important;
            transform:translateX(0%) !important;
}

ks-sidepanel .hidden {
    -webkit-transform:translateX(100%);
        -ms-transform:translateX(100%);
            transform:translateX(100%);
}

ks-sidepanel[left] .hidden {
    -webkit-transform:translateX(-100%);
        -ms-transform:translateX(-100%);
            transform:translateX(-100%);
}