ks-recipe-info {
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

ks-recipe-info > * {
    width: 100%;
}

ks-recipe-info .info {
    box-sizing: border-box;
    padding: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}

ks-recipe-info .title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

ks-recipe-info .heading > h1 {
    font-family: var(--font-emphasis);
    font-weight: 700;
    font-size: 24px;

    margin-bottom: 10px;
}

ks-recipe-info .categories {
    color: #9b9b9b;
    font-size: 16px;
}

ks-recipe-info .categories > a {
    color: #9b9b9b;
    transition: color 0.3s ease;
    text-decoration: none;
}

ks-recipe-info .categories > a:hover {
    color: #555555;
}

ks-recipe-info .categories > *:first-child {
    margin-right: 8px;
}

ks-recipe-info .categories > *:last-child {
    margin-left: 8px;
}

ks-recipe-info .time {
    color: var(--color-secondary);
    text-align: right;

    font-family: var(--font-emphasis);
    font-weight: 700;
    font-size: 23px;
}

ks-recipe-info .time ks-icon {
    margin-right: 10px;
}

ks-recipe-info .yield ks-icon {
    margin-right: 8px;
    margin-top: -2px;
}

ks-recipe-info .yield {
    color: #9b9b9b;
    text-align: right;

    font-family: var(--font-emphasis);
    font-size: 18px;

    margin-top: -2px;
}

ks-recipe-info .summary {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
}

ks-recipe-info .nutrition {
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: end;
        align-items: flex-end;

    margin-top: 20px;
}

ks-recipe-info .image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;

    background-color: #F5F5F5;
    overflow: hidden;

    max-height: 400px;
    height: 400px;
}

@media only screen and (min-width: 960px) {
    ks-recipe-info .info {
        width: 600px;
        min-width: 600px;

        border-bottom: 1px solid #f5f5f5;
    }
}

@media only screen and (max-width: 959px) {
    ks-recipe-info {
        display: block;
    }

    ks-recipe-info .nutrition {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: center;
            justify-content: center;
    }

    ks-recipe-info .nutrition > * {
        margin: 0 3px 6px 3px;
    }

    ks-recipe-info .image {
        height: 500px;
    }
}

@media only screen and (max-width: 520px) {
    ks-recipe-info .title {
        display: block;
        text-align: center;
    }

    ks-recipe-info .time, ks-recipe-info .yield {
        display: inline-block;

        color: #9b9b9b;
        text-align: right;

        font-family: var(--font-emphasis);
        font-weight: 400;
        font-size: 18px;
    }

    ks-recipe-info .time {
        margin-right: 10px;
    }

    ks-recipe-info .time ks-icon, ks-recipe-info .yield ks-icon {
        margin-right: 10px;
    }

    ks-recipe-info .image {
        height: 100vw;
    }
}


@media only screen and (max-width: 520px) {
    ks-recipe-info .info {
        padding: 20px;
    }
}