ks-recipe-ingredient {
    display: -ms-flexbox;
    display: flex;
    width: 100%;

    -ms-flex-align: baseline;

        align-items: baseline;
    margin-bottom: 5px;
}

ks-recipe-ingredient .name, ks-recipe-ingredient .amount {
    font-size: 18px;
}

ks-recipe-ingredient .underline {
    margin: 0 20px;

    -ms-flex: 1;

        flex: 1;
    border-bottom: solid 1px #dbdbdb;
}


ks-recipe-ingredient label {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ks-recipe-ingredient input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  

ks-recipe-ingredient .checkmark {
    position: absolute;
    bottom: -11px;
    left: 0;
    height: 22px;
    width: 22px;

    border: 2px solid #252525;
    box-sizing: border-box;
}
  

ks-recipe-ingredient label:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
ks-recipe-ingredient .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
ks-recipe-ingredient label input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
ks-recipe-ingredient label .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid #252525;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media only screen and (max-width: 520px) {
    ks-recipe-ingredient .name, ks-recipe-ingredient .amount {
        font-size: 16px;
    }

    ks-recipe-ingredient label {
        padding-left: 28px;
    }
}

@media only screen and (max-width: 360px) {
    ks-recipe-ingredient .name, ks-recipe-ingredient .amount {
        font-size: 16px;
    }

    ks-recipe-ingredient label {
        padding-left: 28px;
    }

    ks-recipe-ingredient .underline {
        margin: 0;
    
        -ms-flex: 1;
    
            flex: 1;
        border-bottom: none;
    }
}