ks-img {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;

    -ms-flex-align: center;

        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    overflow: hidden;
}

ks-img[limit] {
    height: unset;
    width: unset;
}

ks-img img {
    max-width: initial;
    height: initial;
    box-sizing: border-box;

    opacity: 1;
    transition: opacity 0.3s ease;
}

ks-img canvas {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

ks-img .horizontal {
    width: 100%;
    height: auto;
}

ks-img .vertical {
    width: auto;
    height: 100%;
}

ks-img .contained {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

ks-img[src*=".svg"] .contained {
    width: 100%;
    height: 100%;
}

ks-img.left {
    -ms-flex-pack: start;
        justify-content: flex-start;
}

ks-img.right {
    -ms-flex-pack: end;
        justify-content: flex-end;
}

ks-img.center {
    -ms-flex-pack: center;
        justify-content: center;
}

ks-img img.loading {
    opacity: 0;
}


ks-img[fill] img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    top: 0px;
    bottom: 0px;
	left: 0px;
	right: 0px;
    margin: auto;
}