ks-img2 {
    display: inline-block;
    box-sizing: border-box;

    max-height: inherit;
    max-width: inherit;
    height: 100%;

    position: relative;
}

ks-img2 img {
    display: inline-block;
    width: auto;
    height : auto;
    max-width: inherit;
    max-height: inherit;

    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

ks-img2[src*=".svg"] img {
    display: inline-block;
    height: 100%;
    width: 100%;
    max-width: inherit;
    max-height : inherit;
    overflow: visible;

    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

ks-img2[vertical] img {
    width: auto;
}

ks-img2[horizontal] img {
    height: auto;
}

ks-img2 img.loading {
    opacity: 0;
}