ks-loader {
    display: block;
    position: absolute;

    width: 50px;
    height: 50px;
    border-radius: 50px;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);

    background-color: #ffffff;
    opacity: 0;
    -webkit-animation: none;
            animation: none;
}

ks-loader[dark] {
    background-color: #252525;
}

ks-loader[running] {
    -webkit-animation: ks-loader-animation 1.0s infinite cubic-bezier(0, 0, 0.38, 0.99);
            animation: ks-loader-animation 1.0s infinite cubic-bezier(0, 0, 0.38, 0.99);
}

ks-loader[large] {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

ks-loader[oversized] {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

@-webkit-keyframes ks-loader-animation {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

@keyframes ks-loader-animation {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}
