ks-button {
    display: block;
}

ks-button > * {
    display: block;
    text-align: center;
    box-sizing: border-box;
    
    font-size: var(--product-button-size);
    width: 100%;
    padding: 12px 20px;

    outline-style: none;
    border-style: none;
    text-decoration: none !important;

    cursor: pointer;
    border-radius: 0px;

    font-family: var(--font-regular);
    font-size: 15px;
    background-color: var(--color-dark);
    color: var(--text-color-dark) !important;

    
    -webkit-transition: var(--transition-background-color);

    
    transition: var(--transition-background-color);
}

ks-button > *:hover { background-color: var(--color-dark-hover); }
ks-button > *:active { background-color: var(--color-dark-active); }


ks-button[round] > * {
    border-radius: 100px;
}

ks-button[tall] > * {
    padding: 18px 20px;
}

ks-button[primary] > * {
    color: var(--text-color-primary) !important;
    background-color: var(--color-primary) !important;
}
ks-button[primary] > *:hover { background-color: var(--color-primary-hover); }
ks-button[primary] > *:active { background-color: var(--color-primary-active); }


ks-button[secondary] > * {
    color: var(--text-color-secondary) !important;
    background-color: var(--color-secondary) !important;
}
ks-button[secondary] > *:hover { background-color: var(--color-secondary-hover); }
ks-button[secondary] > *:active { background-color: var(--color-secondary-active); }