ks-input-textarea {
    display: block;
    margin-bottom: 15px;
}

ks-input-textarea label {
    display: block;
    margin-bottom: 3px;

    color: #000000;
    font-size: 14px;
}

ks-input-textarea[invalid] label {
    color: var(--color-secondary-darker);
}

ks-input-textarea textarea {
    vertical-align: top;
    box-sizing: border-box;
    
    max-width: 100%;
    width: 100%;
    padding: 4px 10px;

    border: 1px solid #e5e5e5;
    border-radius: 0;

    background: #f4f4f4;
    color: #373737;
    font: inherit;
}

ks-input-textarea textarea:focus {
    outline: none;
    background-color: #f4f4f4;
    color: #373737;
    border-color: #222222;
}

ks-input-textarea[invalid] textarea {
    border-color: var(--color-secondary-darker);
    color: var(--color-secondary-darker);
}

ks-input-textarea[invalid] p {
    margin-top: 5px;
    color: var(--color-secondary-darker);
}

ks-input-textarea[noresize] textarea {
    resize: none;
}