ks-icon {
    display: inline-block;
    color: inherit;
}

ks-icon svg {
    stroke: currentColor;
    stroke-width: 1.6;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;

    vertical-align: top
}

ks-icon svg.thin { stroke-width: 1; }
ks-icon svg.medium { stroke-width: 1.3; }